<%= form_for(@twentyseven) do |f| %>
  <% if @twentyseven.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twentyseven.errors.count, "error") %> prohibited this twentyseven from being saved:</h2>

      <ul>
      <% @twentyseven.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
