<%= form_for(@fifteen) do |f| %>
  <% if @fifteen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fifteen.errors.count, "error") %> prohibited this fifteen from being saved:</h2>

      <ul>
      <% @fifteen.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
