<h1>Listing thirties</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @thirties.each do |thirty| %>
      <tr>
        <td><%= thirty.name %></td>
        <td><%= link_to 'Show', thirty %></td>
        <td><%= link_to 'Edit', edit_thirty_path(thirty) %></td>
        <td><%= link_to 'Destroy', thirty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thirty', new_thirty_path %>
