<h1>Listing sixteens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sixteens.each do |sixteen| %>
      <tr>
        <td><%= sixteen.name %></td>
        <td><%= link_to 'Show', sixteen %></td>
        <td><%= link_to 'Edit', edit_sixteen_path(sixteen) %></td>
        <td><%= link_to 'Destroy', sixteen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sixteen', new_sixteen_path %>
