<%= form_for(@twenty) do |f| %>
  <% if @twenty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twenty.errors.count, "error") %> prohibited this twenty from being saved:</h2>

      <ul>
      <% @twenty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
