<h1>Listing sixes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sixes.each do |six| %>
      <tr>
        <td><%= six.name %></td>
        <td><%= link_to 'Show', six %></td>
        <td><%= link_to 'Edit', edit_six_path(six) %></td>
        <td><%= link_to 'Destroy', six, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Six', new_six_path %>
