<%= form_for(@twentyone) do |f| %>
  <% if @twentyone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@twentyone.errors.count, "error") %> prohibited this twentyone from being saved:</h2>

      <ul>
      <% @twentyone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
