<h1>Listing twentytwos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @twentytwos.each do |twentytwo| %>
      <tr>
        <td><%= twentytwo.name %></td>
        <td><%= link_to 'Show', twentytwo %></td>
        <td><%= link_to 'Edit', edit_twentytwo_path(twentytwo) %></td>
        <td><%= link_to 'Destroy', twentytwo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twentytwo', new_twentytwo_path %>
