<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>One:</strong>
  <%= @test.one %>
</p>

<p>
  <strong>Two:</strong>
  <%= @test.two %>
</p>

<p>
  <strong>Three:</strong>
  <%= @test.three %>
</p>

<p>
  <strong>Four:</strong>
  <%= @test.four %>
</p>

<p>
  <strong>Five:</strong>
  <%= @test.five %>
</p>

<p>
  <strong>Six:</strong>
  <%= @test.six %>
</p>

<p>
  <strong>Seven:</strong>
  <%= @test.seven %>
</p>

<p>
  <strong>Eight:</strong>
  <%= @test.eight %>
</p>

<p>
  <strong>Nine:</strong>
  <%= @test.nine %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @test.ten %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
